*{
  margin:0;
  padding:0;
  box-sizing: border-border-box;
}
.container{
margin: 20px
}
.nav{
  display:flex;
  align-items: center;
}
.navbar{
  margin-left:80px;
}
.navbar a{
  margin: 0 10px;
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size:17px;
}
.lowNav a {
  margin: 10px;
  text-decoration: none;
  color:black;
}
.lowNav{
  margin-top:30px;
}
.title h1{
  margin: 20px 0;
}
.contentContainer{
  margin:20px;
  margin-top: 60px;
}
.product{
  display:inline-block;
  margin:20px;
  margin-top:30px;
  padding:20px;
  border: 2px solid gray;
}
.product h1{
  margin: 20px 0;
  margin-top:20px;
}
.product p{
  margin-top:5px
}
.gray{
  color:gray;
}
.green{
  color:green;
}
@media screen and (max-width:800px) {

  .nav{
    display:block;

  }
  .logo{
    display:flex;
    justify-content: center;
    margin-bottom:30px;

  }
  .navContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
  }
  .navbar{
    margin:0;
  }

}
