*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
ul{
  list-style: none;
  margin-left: 15%;
  margin-top: -4%;
}

li {
    display: inline;
    margin: 1%;

}

.navbar a{
  color:#333;
  font-weight:bolder;
  font-size: 18px;
}

.subnavbar{
  margin-left: 0%;
  margin-top: 5%;
}
.subnavbar a{
  color: #333;
}
.subnavbar p{
  display: inline;
}
.title{
  padding-left: 2% ;
}
.products img{
  width: 200px;
  margin:15px;
}
.products{
  display: inline-block;
  margin-left: 30px;
  padding:10px;
  border-style: solid;
  border-color: lightgray;
}
.products p{
  padding: 3px;
}
